@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');



@mixin phone {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

:root {
  --clr-primary: #ab7a5f;
  --clr-background:  #ffffff;
  --clr-content-background: #f1f5f8;
  --clr-footer-background: #222222;

  --clr-button-warning-background: #222222;
  --clr-button-warning-text: #ffffff;
  --clr-button-error-background: #bb2525;
  --clr-button-error-text: #ffffff;

  --clr-text-default: #222222;
  --clr-text-over-primary: #eaded7;
  --clr-text-error: #bb2525;

  --clr-spinner-secondary: #ffffff;


  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-background);
  line-height: 1.5;
  font-size: 0.875rem;
}

html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
hr {
  border: none;
  border-top: 1px solid var(--clr-primary);
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  line-height: 2;
  max-width: 45em;
  margin-bottom: 1rem;
  color: var(--clr-text-default);
  font-size: 1rem;
}


@include phone {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
