customer-frontend/build
customer-frontend/node_modules
**/__pycache__
**/*.pyc
**/venv
node_modules/
.env
**/service_account_firebase.json
**/service_account_gspread.json
customer-frontend/src/services/firebaseConfig.ts
logs
*.log
npm-debug.log*
firebase-debug.log*
firebase-debug.*.log*
.firebase/
