customer-frontend/build
customer-frontend/node_modules
customer-frontend/dist
customer-frontend/src/services/firebaseConfig.ts

**/__pycache__
**/*.pyc
**/venv
node_modules/
.env
**/service_account_firebase.json
**/service_account_gspread.json
**/service_account.json
logs
*.log
npm-debug.log*
firebase-debug.log*
firebase-debug.*.log*
.firebase/
